body {
  background-color: #2C2E3A;
}
body .club-card {
  padding-bottom: 4.17rem;
}
body .club-card .top-pic {
  width: 100%;
  height: 13.33rem;
  background-image: linear-gradient(-132deg, #FFD365 0%, #FCCB51 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 1.5rem 0 0 1.25rem;
}
body .club-card .top-pic .title {
  font-family: 'PingFangSC-Semibold';
  font-size: 1.417rem;
  color: #262833;
  letter-spacing: 0;
  line-height: 2rem;
}
body .club-card .top-pic .cool-me {
  font-family: 'PingFangSC-Regular';
  font-size: 1.17rem;
  color: #4E505E;
  letter-spacing: 0;
}
body .club-card .top-pic .card-type {
  width: 8.33rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
}
body .club-card .top-pic .price {
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
}
body .club-card .top-pic .price .discount {
  font-family: PingFangSC-Regular;
  font-size: 2rem;
  color: #262833;
  letter-spacing: 0;
  line-height: 1.37rem;
}
body .club-card .top-pic .price .discount i {
  font-size: 1.17rem;
}
body .club-card .top-pic .price .original {
  font-family: 'PingFangSC-Regular';
  font-size: 1.17rem;
  color: #4E505E;
  letter-spacing: 0;
  position: relative;
}
body .club-card .top-pic .price .original .line {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
  top: 50%;
  left: 0;
}
body .club-card .year-card .member-year {
  width: 100%;
  height: 5rem;
  padding: 1.58rem 0 0 1.12rem;
  color: #FCCB51;
}
body .club-card .year-card .member-year .iconfont {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
body .club-card .year-card .card-list {
  width: 100%;
}
body .club-card .year-card .card-list .card-item {
  width: 100%;
  height: 3.33rem;
  margin-right: 2.7%;
  border-radius: 0.17rem;
  padding-left: 1.25rem;
  position: relative;
  background-color: #262833;
}
body .club-card .year-card .card-list .card-item p {
  display: inline-block;
  margin-top: 0.79rem;
  font-family: 'PingFangSC-Regular';
  font-size: 1.42rem;
  color: #F2F2F2;
  line-height: 2rem;
}
body .club-card .year-card .card-list .card-item span {
  font-family: 'PingFangSC-Regular';
  font-size: 1.42rem;
  color: #3A3A3A;
  line-height: 1.37rem;
}
body .club-card .year-card .card-list .card-item .radItem {
  text-align: left;
  position: absolute;
  right: 0;
  line-height: 3.33rem;
}
body .club-card .year-card .card-list .card-item .radItem .ant-radio-inner {
  width: 1.67rem;
  height: 1.67rem;
  border: none;
}
body .club-card .year-card .card-list .card-item .radItem .ant-radio-inner:after {
  width: 0.67rem;
  height: 0.67rem;
  left: 0.5rem;
  top: 0.5rem;
  background-color: #FCCB51;
}
body .club-card .year-card .card-list .card-item .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 1.98rem solid #FCCB51;
  border-left: 1.98rem solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}
body .club-card .year-card .card-list .card-item .triangle .pitch {
  position: absolute;
  top: 0.92rem;
  right: 0.08rem;
  font-size: 1rem;
}
body .club-card .year-card .card-list .card-item:last-child {
  margin-right: 0;
}
body .club-card .privileges {
  width: 100%;
  box-sizing: border-box;
  padding-left: 4.1%;
  margin-top: 2.5rem;
  padding-bottom: 0.84rem;
  border-bottom: 0.04rem solid #666666;
}
body .club-card .privileges .crown {
  height: 2rem;
  margin-right: 0.45rem;
  color: #FCCB51;
}
body .club-card .privileges h2 {
  font-family: 'PingFangSC-Regular';
  font-size: 1.42rem;
  color: #FCCB51;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}
body .club-card .state-list .statement {
  width: 100%;
  box-sizing: border-box;
  padding: 0 4%;
}
body .club-card .state-list .statement .state-item {
  width: 100%;
  border-bottom: 0.04rem solid #666666;
  padding: 0.67rem 0;
}
body .club-card .state-list .statement .state-item h2 {
  height: 1.88rem;
  font-family: 'PingFangSC-Regular';
  font-size: 1.33rem;
  color: #CCCCCC;
}
body .club-card .state-list .statement .state-item p {
  font-family: 'PingFangSC-Regular';
  font-size: 1.17rem;
  line-height: 1.67rem;
  color: #999999;
}
body .club-card .state-list .statement .state-item:first-child {
  padding-top: 1.67rem;
}
body .club-card .state-list .statement .state-item:last-child {
  padding-bottom: 1.67rem;
}
body .club-card .notice {
  margin-top: 2.33rem;
  padding-left: 4%;
  box-sizing: border-box;
  padding-bottom: 1.67rem;
}
body .club-card .notice h2 {
  font-family: 'PingFangSC-Regular';
  font-size: 1.42rem;
  color: #FFFFFF;
}
body .club-card .notice .notice-list .notice-item {
  margin-top: 0.84rem;
  font-family: 'PingFangSC-Regular';
  font-size: 1.17rem;
  color: #CCCCCC;
  line-height: 1.67rem;
}
body .club-card .buy-now {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 4.17rem;
  width: 100%;
  display: inline-block;
  background-color: #FCCB51;
  text-align: center;
  line-height: 4.17rem;
  font-family: 'PingFangSC-Regular';
  font-size: 1.5rem;
  color: #2C2E3A;
}
